transformers
sentence-transformers
pinecone-client
pandas
datasets
torch
python-dotenv
huggingface_hub
seqeval
apache-airflow
mlflow
psycopg2-binary
uvicorn
fastapi
pendulum
email-validator
pydantic
email-validator 
